/logs/
/lightning_logs
/outputs
*.out
/data/
/wandb/
tmp.sh
slurm-logs/
$TMP_SHARED
penntreebank

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/